.wrapTickersList {
  display: flex;
  align-content: center;
  justify-content: center;
}

.tickersTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
}

.tickersItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  padding: 0.5rem;
}
.companyName {
  color: gray;
}

.prices {
  display: flex;
  padding: 0 0.5rem;
}

.time {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
